Package: applauncherd-testapps
Source: applauncherd
Version: 3.0.3+0m8
Architecture: armel
Maintainer: Alexey Shilov <alexey.shilov@nokia.com>
Installed-Size: 500
Depends: applauncherd-launcher, libaegis-crypto1, libc6 (>= 2.7), libcreds2, libgcc1 (>= 1:4.1.1), libmeegotouchcore0, libqt4-declarative (>= 4.7.4~git20120327), libqtcore4 (>= 4.7.4~git20120327), libqtgui4 (>= 4.7.4~git20120327), libstdc++6 (>= 4.4.0), libx11-6 (>= 0), libxi6 (>= 0), libxtst6, applauncherd, libmeegotouchviews0, libmeegotouchextensions0, libmeegotouchsettings0, libcreds2-tools
Section: admin
Priority: extra
Description: applaunched testapps
 Test applications for testing  applauncherd.
Aegis-Manifest: included
