Package: applauncherd-reference-perf-tests
Source: applauncherd
Version: 3.0.3+0m8
Architecture: armel
Maintainer: Alexey Shilov <alexey.shilov@nokia.com>
Installed-Size: 52
Depends: applauncherd-testapps, applauncherd-testscripts
Section: admin
Priority: extra
Description: applauncherd performance tests for libmeegotouch applications without launcher
Aegis-Manifest: empty
Maemo-Ci-Packages: applauncherd
Maemo-Ci-Stage: fast
